@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --primary-color: #64CCC5;
  --primary-hover-color: #00C8BC;
  --secondary-color: #176B87;
  --secondary-hover-color : #2192B8;
  --female-color :#ff5757;
  --female-hover-color : #ff7e7e;
  --items-color: #171717;
  --default-color: #fff;
  --body-color: #EEEEEE;
  --userSection-color: rgb(169 221 217);
}

/* theme colors classes */

*{transition: 0.2s;}
.text-primary-color{
  color: var(--primary-color) !important;
}
.text-primary-color:hover{
  color: var(--primary-hover-color) !important;
}
.bg-primary-color{
  background-color: var(--primary-color) !important;
  color: white !important;
}
.bg-primary-color:hover{
  background-color: var(--primary-hover-color) !important;
}
.accent-primary-color{
  accent-color: var(--primary-color);
}

/* second color */

.text-secondary-color{
  color: var(--secondary-color) !important;
}
.text-secondary-color:hover{
  color: var(--secondary-hover-color) !important;
}
.bg-secondary-color{
  background-color: var(--secondary-color) !important;
  color: white !important;
}
.bg-secondary-color:hover{
  background-color: var(--secondary-hover-color) !important;
}

.bg-secondary-color-unhover{
  background-color: var(--secondary-color) !important ;
}
.bg-secondary-color-unhover:hover{
  background-color: var(--secondary-color) !important ;
}

/* femme colors */
.text-female-color{
  color: var(--female-color) !important;
}
.text-female-color:hover{
  color: var(--female-hover-color) !important;
}
.bg-female-color{
  background-color: var(--female-color) !important;
}
.bg-female-color:hover{
  background-color: var(--female-hover-color) !important;
}

/* user section colors */

.bg-section-color {
  background-color: var(--userSection-color);
}

.outline-primary{
  outline: 1px solid rgb(226, 226, 226) !important;
}
.outline-primary:focus{
  outline: 2px solid var(--primary-color) !important;

}

.outline-secondary{
  outline: 1px solid rgb(226, 226, 226) !important;
}
.outline-secondary:focus{
  outline: 2px solid var(--secondary-color) !important;

}
/* animations */
.header-animaiton{
    animation: 0.3s ;


}
@media screen and (max-width:760px){
  .mobiled{
    display: none !important;
  }
}

body{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--body-color);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #64ccc5 #f5f5f5;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #64ccc5;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }


  #side .mobiled{
    display: none;
  }
  #side:hover .mobiled{
    display: block;

  }
